{
  "AppName" : "Shrimp",
  "BaseURL" : "http://localhost:3000/",
  "RethinkHost" : "0.0.0.0:28015",
  "RethinkDatabase" : "shrimp_test",
  "ServerLoggingEnabled" : true,
  "MandrillAPIKey" : "XXXXXXXXX"
}